PROJECT_NAME=ecommerce-lakehouse-ai

ZOOKEEPER_CONTAINER_NAME=ecom-zookeeper
ZOOKEEPER_PORT=2181

KAFKA_CONTAINER_NAME=ecom-kafka
KAFKA_PORT=9092
KAFKA_TOPIC_USER_BEHAVIOR=user_behavior_events
KAFKA_TOPIC_ORDER_EVENTS=order_events

API_CONTAINER_NAME=ecom-api
API_PORT=8000

FLINK_JOBMANAGER_CONTAINER_NAME=ecom-flink-jobmanager
FLINK_TASKMANAGER_CONTAINER_NAME=ecom-flink-taskmanager
FLINK_SQL_CLIENT_CONTAINER_NAME=ecom-flink-sql-client
FLINK_REST_PORT=8081
FLINK_TASKMANAGER_SLOTS=2

DORIS_FE_CONTAINER_NAME=ecom-doris-fe
DORIS_BE_CONTAINER_NAME=ecom-doris-be
DORIS_VERSION=2.1.9
DORIS_FE_HTTP_PORT=8030
DORIS_FE_QUERY_PORT=9030
DORIS_BE_HEARTBEAT_PORT=9050

DORIS_DATABASE=analytics
DORIS_TABLE_REALTIME_METRICS=realtime_metrics
DORIS_USERNAME=root
DORIS_PASSWORD=

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=warehouse
TRINO_PORT=8088
TRINO_CONTAINER_NAME=ecom-trino

ICEBERG_CATALOG_NAME=lakehouse
ICEBERG_DATABASE=analytics
ICEBERG_TABLE_USER_BEHAVIOR=user_behavior_detail
ICEBERG_WAREHOUSE=s3a://warehouse/iceberg
